{% extends 'layoutFrontOffice.html.twig' %}

{% block title %}Topic index{% endblock %}

{% block body %}
    <h1>Topic index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdTopic</th>
                <th>DescriptifTopic</th>
                <th>DateTopic</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for topic in topics %}
            <tr>
                <td>{{ topic.idTopic }}</td>
                <td>{{ topic.descriptifTopic }}</td>
                <td>{{ topic.dateTopic ? topic.dateTopic|date('Y-m-d') : '' }}</td>
                
            </tr>
       
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}