{% extends 'layoutBackOffice.html.twig' %}

{% block body %}
    <div class="app-content">
        <div class="side-app">
            <div class="page-header">
                <h4 class="page-title">Statistiques</h4>
            </div>
            <div id="div_chart1"></div>
            <div id="div_chart2"></div>

            <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
            <script type="text/javascript">
                {{ gc_draw(piechart1, 'div_chart1') }}
                {{ gc_draw(piechart2, 'div_chart2') }}
            </script>
        </div>
    </div>
{% endblock %}
