{% extends 'layoutFrontOffice.html.twig' %}


{% block title %}Forum index{% endblock %}

{% block body %}
    <h1>Forum index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdForum</th>
                <th>TitreForum</th>
                <th>DescriptifForum</th>
                <th>DateForum</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for forum in forums %}
            <tr>
                <td>{{ forum.idForum }}</td>
                <td>{{ forum.titreForum }}</td>
                <td>{{ forum.descriptifForum }}</td>
                <td>{{ forum.dateForum ? forum.dateForum|date('Y-m-d') : '' }}</td>
                
            </tr>
       
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}